<!DOCTYPE html>
<html>
<head>
	<title>CKAN Instances</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="styles/master.css">
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.css">
	<!--[if IE 7]><link rel="stylesheet" href="vendor/font-awesome/css/font-awesome-ie7.css"><![endif]-->
</head>
<body class="loading">

{{ content }}

<script src="vendor/jquery-1.10.1.min.js"></script>
<script src="vendor/packery-1.0.6.min.js"></script>
<script src="vendor/handlebars-1.0.0.js"></script>
<script src="scripts/app.js"></script>

</body>
</html>